body {
  background-image: url("img/fondo.png");
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed;  
}


.logo {
  display:flex;
  width: 200px;
  height: 200px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
}

.pikachu {
  display:flex;
  align-items:flex-end;
  justify-content:flex-start;
  flex-direction: column;
  align-self: flex-start;
  position: absolute;
  width: 600px;
  height: auto;
  left: 720px;
  top: 46px;
}

h1 {
  display: flex;
  background-color: rgba(255, 255, 255, 0.541);
  font-family: 'Abel', sans-serif;
  border-radius: 30px;
  align-items:center ; 
  text-align: center;
  justify-content: flex-start;
  margin-left:none;
  position: absolute;
  width: 544px;
  height: 167px;
  left: 110px;
  top: 280px;
}

#playBtn{
  display: flex;
  width:80px;
  height:80px;
  background-color:#ffffff;
  margin: 5px;
  padding:10px;
  border-radius: 50px;
  font-size:25px;
  font-family: 'Abel', sans-serif;
  margin-left: 285 px;
  position: absolute;
  left: 340px;
  top: 530px;
}

#playBtn:hover{
  opacity: 0.80;
  background-color: rgb(252, 1, 1);
  color: white
}

#screenTwo{
  background-attachment: fixed;
  visibility:hidden; 
  display:none;  
}

select {
  display: flex;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  height: 30px;
  padding: 5px;
  margin-top: 40px;
  margin-left: 60px;
  width: 200px;
}

select:focus{ 
  outline: none;
}



.cajitaPokemon {
  height: 10em;
  width: 10em;
  background-color: rgb(255, 255, 255);
  margin: 12px 10px 12px 10px;
  text-align:center ;
  justify-items: center;
  display:inline-flex;
  border-radius: 20px;
  font-size:18px ;
  padding-top: 40px;
  font-family:'Josefin Sans', sans-serif;
  text-align: center;
  margin-left: 65px;
  
}

.imagen{
  width:7em ;
  height: auto;
  display: flex;
  padding-left: 20px;

}
